/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{  
    background:#faf8ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

main{   /* expands content area to push footer down*/
    flex: 1 0 auto;
}

.footer{
    flex-shrink: 0;
}
