/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{  
    background:#faf8ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

main{   /* expands content area to push footer down*/
    flex: 1 0 auto;
}

.footer{
    flex-shrink: 0;
}

/* Django Messages*/
.messages-container {
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;
}

.success-message {
    /* position: fixed; */
    position: absolute !important;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    min-width: 350px;
    max-width: 500px;
    text-align: center;

    background: #dcfce7;
    color: #166534;
    padding: 12px 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    transition: opacity .5s ease;
}