{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogHub</title>

    <link rel="stylesheet" href="{% static  'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <!--Logo-->
        <div class="logo">
            <a href="/">
                <img src="{% static 'images\bloghub-logo.svg' %}" alt="BlogHub Logo" class="logo-img">
            </a>
        </div>

        <!--Navigation Links-->
        <ul class="nav-links">
            <li><a href="/">Home</li>
            <li><a href="#">Blog</li>
            <li><a href="#">About</li>
            <li><a href="#">Contact</li>
        </ul>
        
        <!--Right side pf Navigation bar-->
        <div class="nav-right">
            <!-- Search bar-->
            <input type="text" placeholder="Search..." class="search-box">

            {% if user.is_authenticated %}

                <a href="/profile" class="profile-link">Profile</a>
                <a href="/logout" class="logout-link">Logout</a>

            {% else %}

                <a href="/login" class="login-btn">Login / Signup</a>

            {% endif %}

        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{%  static 'js/script.js' %}"></script>
</body>
</html>